

body {background-color: rgb(216,230,242);}

a { text-decoration: none; }

body{
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	font-style: normal;
}

nav a {
color: rgb(216,230,242)
}

nav a:hover {
  color: #FF9633;
}

h1 { 
	font-size: 75px;
	color: rgb(216,230,242);
	background-color: rgb(64,112,153);
	padding-left: 80px;
	padding-top: 20px;

	text-transform: uppercase;


	font-family: freight-sans-pro, sans-serif;

	font-weight: 300;

	font-style: light;
}

h2 { 
	padding:80px;
	font-size: 45px;
	color: rgb(341,160,31);
	font-family: brandon-grotesque, sans-serif;

	font-weight: 900;

	font-style: normal;

	font-family: brandon-grotesque, sans-serif;

	font-weight: 400;

	font-style: normal;

}

strong{
	font-weight:900;
}

h3 { 
	font-size: 24px;
	color: rgb(341,160,31);


	font-family: brandon-grotesque, sans-serif;

	font-weight: 300;

	font-style: normal;
}

h4 { 
	padding:80px;
	font-size: 42px;
	color: rgb(216,230,242);
	padding-left: 12px;
	padding-top: 20px;

	text-transform: uppercase;


	font-family: freight-sans-pro, sans-serif;

	font-weight: 300;

	font-style: light;
}


nav.main-nav ul {
	list-style-type: none;
	alignment-baseline: central;
	min-height: 100px;
	color: white;
	background-color: rgb(64,112,153);
	min-width: 500px;

	font-family: freight-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav.main-nav li { 
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
	text-decoration: none;

	margin-top:63px;
	text-transform: uppercase;
	padding: 16px;
	border: 0px solid black;
}

nav.accomodations-nav ul {
	list-style-type: none;
	alignment-baseline: central;
	min-height: 100px;
	color: white;
	background-color: rgb(64,112,153);

	color: rgb(216,230,242);

	min-width: 500px;

	font-family: freight-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav.accomodations-nav li { 
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
	color: rgb(216,230,242);
	text-decoration: none;

	margin-top:63px;
	text-transform: uppercase;
	padding: 16px;
	border: 0px solid black;
}

nav.fooddrink-nav ul {
	list-style-type: none;
	alignment-baseline: central;
	min-height: 100px;
	color: white;
	background-color: rgb(64,112,153);

	color: rgb(216,230,242);

	min-width: 500px;

	font-family: freight-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav.fooddrink-nav li { 
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
	color: rgb(216,230,242);
	text-decoration: none;

	margin-top:63px;
	text-transform: uppercase;
	padding: 16px;
	border: 0px solid black;
}


header {
	display: grid;
	grid-template-columns: 40% 60%;
}


nav.twocities-nav ul {
	list-style-type: none;
	alignment-baseline: central;
	min-height: 100px;
	color: white;
	background-color: rgb(64,112,153);

	color: rgb(216,230,242);

	min-width: 500px;

	font-family: freight-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav.twocities-nav li { 
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
	color: rgb(216,230,242);
	text-decoration: none;

	margin-top:63px;
	text-transform: uppercase;
	padding: 16px;
	border: 0px solid black;
}

nav.nature-nav ul {
	list-style-type: none;
	alignment-baseline: central;
	min-height: 100px;
	color: white;
	background-color: rgb(64,112,153);

	color: rgb(216,230,242);

	min-width: 500px;

	font-family: freight-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav.nature-nav li { 
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
	color: rgb(216,230,242);
	text-decoration: none;

	margin-top:63px;
	text-transform: uppercase;
	padding: 16px;
	border: 0px solid black;
}

.home-bg{
	background-image: url(../images/mainpage.png);
	background-size: cover;	
	height: 100vh;
}

.accomodations-bg{
	background-image: url(../images/accomidationsbigpic.png);
	background-size: cover;
	height: 100vh;
}

.fooddrink-bg{
	background-image: url(../images/fooddrinkbigpic.png);
	background-size: cover;
	height: 100vh;
}

.twocities-bg{
	background-image: url(../images/2citiesmainpic.png);
	background-size: cover;
	height: 100vh;
}

.nature-bg{
	background-image: url(../images/naturemainpic.png);
	background-size: cover;
	height: 100vh;
}

.about-us {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	margin-top: 60px;
}

.sweethotel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	margin-top: 60px;
}

.reykjavik {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	margin-top: 60px;
}

.bluelagoon {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	margin-top: 60px;
}

.twocitiespics{
	margin-right: 60px;
}

.wrapper {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 45% 65%;
	margin-top: 40px;

}


.box-a { margin-left: 80px; 
	margin-right: 100px;}


	.box {

		border-radius: 5px;
		padding: 20px;

	}


	.subnav a {
		display: inline-block;
		color: rgb(216,230,242);
		text-transform: uppercase;
		font-size: 24px;
		margin-top: 32px;
	}


	.subnav li {
		text-align: center;	
		background-repeat: no-repeat;
		background-size:cover;
		width: 500px;
		height: 90px;
		margin-bottom: 20px;


	}

	.subnav .accomodations {
		background-image: url(../images/mainaccomidationsbutton.png);

	}

	.subnav .fooddrink {
		background-image: url(../images/mainfooddrinkbutton.png);
	}

	.subnav .twocities {
		background-image: url(../images/mainwtocitiesbutton.png);
	}

	.subnav .nature {
		background-image: url(../images/mainnaturebutton.png);
	}



	.row:after {
		content: "";
		display: table;
		clear: both;
	}

.bottom-left {
  position: absolute;
  bottom: -140px;
  left: 16px;

